﻿@model IEnumerable<MVCApp.Models.ProizvodiModel>

@{
    ViewBag.Title = "ViewProizvode";
}

<h2>ViewProizvode</h2>

<p>
    @Html.ActionLink("Unesi proizvod", "UnesiProizvod")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProizvodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dobavljac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProizvodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategorija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proizvodjac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dobavljac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProizvode", new {  id=item.Id }) 
        </td>
    </tr>
}

</table>
